PORT=4000

NODE_ENV=development

MONGODB_URI=mongodb://admin:password@localhost:27017/cohort?authSource=admin



JWT_ACCESS_SECRET=chaicodealongstring
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_SECRET=somthingnewsecret
JWT_REFRESH_EXPIRES_IN=7d


# SMTP configuration for nodemailer
SMTP_HOST=sandbox.smtp.mailtrap.io
SMTP_PORT=2525
SMTP_USER=chaicode
SMTP_PASS=chaicode
SMTP_FROM_NAME=Pikachu
SMTP_FROM_EMAIL=noreply@pikachu.com


CLIENT_URL=http://localhost:4000